@import 'variables';
@import 'layout';
@import 'grid';

a {
    color: $primary-color;
}

.button {
    padding: 6px 12px;
    border: solid $dark-color 1px;
    border-radius: 4px;
}

.button-primary {
    @extend .button;
    background-color: $primary-color;
    color: $contrast-color;
}

.button-secondary {
    @extend .button;
    background-color: $secondary-color;
    color: $contrast-color;
}

.title {
    border: solid 1px black;
    background-color: whitesmoke;
    padding: 70px 0;
    text-align: center;
}

.description {
    border: solid 1px black;
    background-color: #e8e8e4;
    padding: 70px 0;
    text-align: center;
}
